/* 헤더 */
header {
    width:1100px;
    max-width: 2000px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
}

.header__title {
    font-size: 28px;
    font-weight: 800;
    color: var(--primary-color);
    margin: 0;
    text-align: left;
}

.header__nav {
    display: flex;
    gap: 24px; /* 간격 늘림 */
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.2s ease, transform 0.2s ease;
    margin: 0 12px; /* 좌우 마진 추가 */
}

.header__link:hover {
    color: var(--primary-color);
    transform: translateY(-2px);
}

nav {
    display: flex;
    gap: 16px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.2s ease, transform 0.2s ease;
}

nav a:hover {
    color: var(--primary-color);
    transform: translateY(-2px);
}

/*div {*/
/*    padding: 20px;*/
/*}*/
