@import './css/variables.css';
@import './css/layout.css';
@import './css/components.css';
@import './css/form.css';

body {
    margin: 0;
    font-family: var(--main-font);
    background: var(--bg-gradient);
    min-height: 100vh;
}

