
.myinfo-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 20px;
}

.myinfo-form {
    width: 70%;
    max-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.myinfo-title {
    text-align: center;
}

.myinfo-text {
    width: 100%;
    text-align: left;
}

.myinfo-label {
    width: 100%;
    text-align: left;
    display: block;
}

.myinfo-input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

.myinfo-button {
    padding: 14px;
    background-color: #FF5A5F;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 150px;
    align-self: center;
    text-align: center;
}
